# App
NODE_ENV=development
PORT=3000

# PostgreSQL (dùng cho Docker Compose)
POSTGRES_USER=ecom_user
POSTGRES_PASSWORD=ecom_pass_123
POSTGRES_DB=ecommerce

# Prisma - chạy app local, DB ở localhost
DATABASE_URL="postgresql://ecom_user:ecom_pass_123@localhost:5432/ecommerce?schema=public"

# JWT
JWT_SECRET=279845fd8687be7a7c5cad497a6422b41085015ab6f072f465d74e133ae7ce9cd97c67785904623f887b147437983e9c
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

# Tài khoản admin khởi tạo bằng seed
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@12345